@model List<Cart>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Pname</th>
            <th scope="col">Pcat</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <th scope="row">@d.Pid</th>
                <td><img width="50" height="50" src="/@d.Picture" /></td>
                <td>@d.Pname</td>
                <td>@d.Pcat</td>
                <td>@d.Price</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right"><strong>Total Price:</strong></td>
            <td><strong>₹ @Model.Sum(d => d.Price).ToString("N2")</strong></td>
        </tr>
    </tfoot>
</table>